.copyWrapper {
  position: relative;
  z-index: 10;

  width: fit-content;
  margin: 4.8rem 0;
}

.title {
  font-size: var(--text-xl);
  font-weight: 700;
  line-height: 1.1;

  span {
    color: var(--brand);
  }

  @media (max-width: 768px) {
    font-size: var(--text-md);
    font-weight: 600;
  }
}

.subTitle {
  font-size: var(--text-lg);
  line-height: 1.1;
  margin-top: 1.6rem;
  font-weight: 200;

  @media (max-width: 768px) {
    font-size: var(--text-sm);
  }

  span {
    font-weight: bold;
    color: var(--brand);
  }
}

.aboutCopy {
  font-size: var(--text-xs);
  margin: 2.4rem 0;
  max-width: 650px;
  font-weight: 200;

  @media (min-width: 768px) {
    font-size: var(--text-sm);
  }
}
