.splideCard {
  width: 26rem;

  @media (min-width: 768px) {
    width: 50rem;
  }
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--background-light);
}

.splideText {
  color: white;
  font-size: var(--text-xs);
}
